.paginagtion{
    display: flex;
    text-align: center;
}

.page-current {
    color: red;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.page-other{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#error{
    color: red;
    font-size: 20px;
}

#message{
    color: red;
    font-size: 20px;
}
